{
    "plugins": ["prettier-plugin-tailwindcss"],
    "tabWidth": 4,
    "bracketSpacing": true,
    "printWidth": 100,
    "htmlWhitespaceSensitivity": "strict",
    "singleAttributePerLine": true
}
